<!-- {# To do: implement templatesplay a given movie, with image, title, and year.
   Also show a list of reviews for the given movie. Clicking on a single review
   should take you to a page showing the review in detail. #} -->
{% extends 'base.html' %}
{% block title %}Movie Reviews{% endblock %}
{% block content %}
	<div class="row container m-4">
			<div class="col-md-2">
				<img src={{movie.cover_url}}/>
			</div>
			<div class="col-md-10">
				<h1>{{movie.title}} ({{movie.year}})</h1>
				<form class="form-inline" action = "{% url 'portal:manage_review' movie.id %}">
					<h2> Reviews &nbsp;&nbsp;</h2> <input type="submit" class="btn btn-primary" 
					value="Add">
				</form>				
				<br>
				{% for review in reviews %}
				<div class="card mb-1 shadow-sm">
					<a href="{% url 'portal:show_review' review.id %}"> "{{review.title}}"
					  </a> 
					- by {{review.user.username}}   
				</div>
				{% endfor %}
			</div>
	</div>
{% endblock %}
